pkgbase = clouddrive
	pkgdesc = A modern, user-friendly OneDrive client for Linux
	pkgver = 0.1.6
	pkgrel = 1
	url = https://github.com/Cyclosaryn/CloudDrive
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-pip
	depends = dbus
	optdepends = python-tomli-w: Saving configuration (required for settings changes)
	optdepends = libnotify: Desktop notifications
	optdepends = xdg-utils: Opening folders and URLs
	source = clouddrive-0.1.6.tar.gz::https://github.com/Cyclosaryn/CloudDrive/archive/v0.1.6.tar.gz
	sha256sums = 09724b8df3811816b19bc53f819c5b836a3ef1fc0f7a088b75a5958a0cf49567

pkgname = clouddrive
