pkgbase = clouddrive
	pkgdesc = A modern, user-friendly OneDrive client for Linux
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/Cyclosaryn/CloudDrive
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-pip
	depends = dbus
	optdepends = python-tomli-w: Saving configuration (required for settings changes)
	optdepends = libnotify: Desktop notifications
	optdepends = xdg-utils: Opening folders and URLs
	source = clouddrive-0.1.2.tar.gz::https://github.com/Cyclosaryn/CloudDrive/archive/v0.1.2.tar.gz
	sha256sums = 55d46260f96dc651c279ee56d00df029cdde18f8bb6ea775951d6f35eb7d2007

pkgname = clouddrive
