pkgbase = clouddrive
	pkgdesc = A modern, user-friendly OneDrive client for Linux
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/Cyclosaryn/CloudDrive
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = python-pip
	depends = dbus
	optdepends = python-tomli-w: Saving configuration (required for settings changes)
	optdepends = libnotify: Desktop notifications
	optdepends = xdg-utils: Opening folders and URLs
	source = clouddrive-0.1.4.tar.gz::https://github.com/Cyclosaryn/CloudDrive/archive/v0.1.4.tar.gz
	sha256sums = 6d60b12dd528d192ad6046f17170d141010385bcfc2c476c49c686ea949804a6

pkgname = clouddrive
